/automation-ui/
/automation-ui/.idea/
/automation-ui/.idea/.gitignore
/automation-ui/.idea/.name
/automation-ui/.idea/compiler.xml
/automation-ui/.idea/jarRepositories.xml
/automation-ui/.idea/misc.xml
/automation-ui/.idea/modules.xml
/automation-ui/.idea/vcs.xml
/automation-ui/automation.iml
