<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/automationdb?autoReconnect=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">0</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">0</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.connection.isolation">2</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<property name="hbm2ddl.auto">update</property>
		<mapping resource="beans/client.hbm.xml" />
		<mapping resource="beans/Testcase.hbm.xml" />
		<mapping resource="beans/feature.hbm.xml" />
		<mapping resource="beans/severity.hbm.xml" />
		<mapping resource="beans/module.hbm.xml" />
		<mapping resource="beans/testType.hbm.xml" />
		<mapping resource="beans/environment.hbm.xml" />
		<mapping resource="beans/browser.hbm.xml" />
		<mapping resource="beans/execution-details.hbm.xml" />
		<mapping resource="beans/rawresults.hbm.xml" />
		<mapping resource="beans/user.hbm.xml" />
	</session-factory>
</hibernate-configuration>
